# Ejemplo de variables de entorno para JurisAudio Insight
# NO subas tus credenciales reales a GitHub. Usa este archivo solo como referencia.

# MongoDB Atlas
MONGODB_URI="mongodb+srv://USUARIO:PASSWORD@cluster0.zq1cy1c.mongodb.net/?appName=Cluster0"
DB_NAME="proyecto_bigdata"
COLLECTION_NAME="providencias"

# Neo4j Aura
NEO4J_URI="neo4j+s://da352d68.databases.neo4j.io:7687"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="TU_PASSWORD_AURA"
NEO4J_DATABASE="neo4j"
